# Python
__pycache__/
*.py[cod]
.python-version

# Virtual environment
.venv/

# pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/
htmlmypy/
coverage.xml

# Uv specifics
uv.lock

# Testrun files
*.json
